{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <h1>{% block title %} Welcome to List It {% endblock %}</h1>

    {% for list in lists %}
        <a href="{{ url_for('list', list_id=list['id']) }}">
            <h2>{{ list['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ list['created'] }}</span>
        <hr>
    {% endfor %}

{% endblock %}
